
body {
    font-family: sans-serif;
     margin: 0;
}

video {
    width: 700px;
    height: 500px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 400px;
    right: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    cursor: pointer;
    width: 300px;
    height: 500px;
}

.meaningslist {
    overflow: auto;
    height: 450px;
}
.vocablist {
    padding-right: 10px;
    padding-inline-start: 10px;
}
.eachrow {
    background-color: gray;
    display: block;
    margin-bottom: 10px;
}
.meaning {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
        padding-left: 5px;
    padding-right: 5px;
}
#bookmarkicon {
    font-size: 18px;
    float: right;
    padding-right: 10px;
}
.word {
        padding-top: 5px;
    padding-left: 5px;
}